/* ================== GLOBAL ================== */
body {
    font-family: 'Montserrat', sans-serif;
    background: #0d0d0d;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* ================== HERO ================== */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}


.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/profile.png") center/cover no-repeat fixed;
    filter: brightness(0.85);
    z-index: -1;
}

.hero-text {
    position: relative;
    z-index: 2;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    max-width: 50%;

}

.tag {
    font-size: 1.4rem;
    opacity: 0.8;
}

.name {
    font-size: 3.4rem;
    font-weight: 700;
    margin: 5px 0;
}

.career {
    opacity: 0.85;
    margin-bottom: 25px;
}

/* ================== BOTONES DEL HERO ================== */
.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    z-index: 2;
}

.btn-primary,
.btn-secondary {
    padding: 12px 28px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s ease;
    cursor: pointer;
}

.btn-primary {
    background: #f1f1f1;
    color: #000;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 18px rgba(43, 43, 43, 0.6);
}

.btn-secondary {
    border: 2px solid #e9e9e9;
    color: #e7ece6;
}

.btn-secondary:hover {
    background: #eef3ed;
    color: #000000;
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(97, 97, 97, 0.5);
}




/* ================== SECCIÓN DE PRÁCTICAS ================== */
.section {
    padding: 80px 10%;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.section-subtitle {
    opacity: 0.7;
    margin-bottom: 40px;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}


.card {
    background: #161616;
    padding: 35px;
    border-radius: 15px;
    border: 1px solid #222;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: transform 0.28s ease, box-shadow 0.28s ease, border-color 0.28s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-8px) scale(1.04);
    border-color: #f5f5f5;
    box-shadow: 0 0 22px rgba(163, 163, 163, 0.35);
}

/* GLOW EFECTO */
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(162, 163, 162, 0.05);
    opacity: 0;
    transition: opacity 0.35s ease;
}

.card:hover::after {
    opacity: 1;
}

/* ================== ICONO EN EL CARD ================== */
.card-icon {
    width: 70px;
    height: 70px;
    background: #f5f5f5;
    color: #000;
    border-radius: 18px;
    margin: 0 auto 18px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    transition: 0.25s ease;
    box-shadow: 0 0 8px rgba(73, 73, 73, 0.4);
}

.card:hover .card-icon {
    transform: rotate(6deg) scale(1.1);
    box-shadow: 0 0 14px rgba(134, 133, 133, 0.6);
}

/* contenido */
.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-info {
    opacity: 0.8;
    margin-bottom: 8px;
    line-height: 1.4;
    font-size: 0.95rem;
}

/* ================== FOOTER = ================== */
.footer {
    background: #000000;
    padding: 60px 10% 30px;
    margin-top: 00px;
    border-top: 1px solid #111;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-block {
    flex: 1 1 200px;
}

.footer-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #bbb;
}

.footer-links,
.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.contact-list li {
    margin: 10px 0;
}

.footer-links a {
    color: #bbb;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.footer-links a i {
    color: #ffffff;
}

.footer-links a:hover {
    color: #c7c7c7;
    transform: translateX(5px);
}

.contact-list li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #bbb;
}

.contact-list i {
    color: #d4d4d4;
    font-size: 0.9rem;
    padding-top: 3px;
}

.footer-identity {
    flex: 1 1 250px;
    text-align: center;
}

.footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fffffff5;
    margin-bottom: 5px;
}

.footer-text {
    font-size: 0.95rem;
    margin-bottom: 20px;
    color: #9b9999;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #070707;
    color: #dfdfdf;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0);
}

.social-icon:hover {
    background: #ffffff;
    color: #000000;
    transform: translateY(-4px) scale(1.1);
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.8);
}

.footer-bottom {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #414040;
    color: #e6e1e1ab;
    font-size: 0.85rem;
    margin-top: 30px;
}

/* ================== RESPONSIVE GENERAL ================== */


@media (max-width: 1100px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        height: 100vh;
        min-height: 700px;
        text-align: center;
        justify-content: center;
    }

    .hero-image {
        height: 100%;
        background-attachment: scroll;
    }

    .hero-text {
        padding: 30px;
        max-width: 100%;
    }

    .name {
        font-size: 2.6rem;
    }

    .hero-buttons {
        justify-content: center;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-block,
    .footer-identity {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .social-links {
        justify-content: center;
    }

    .footer-links a,
    .contact-list li {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero-text {
        padding: 20px;
    }

    .name {
        font-size: 2.2rem;
    }

    .tag {
        font-size: 1.2rem;
    }

    .career {
        font-size: 1rem;
        margin-bottom: 20px;
    }


}

@media (max-width: 480px) {
    .hero-text {
        padding: 15px;
    }

    .name {
        font-size: 1.8rem;
    }

    .tag {
        font-size: 1rem;
    }

    .career {
        font-size: 0.95rem;
        margin-bottom: 15px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 10px;
    }
}

/* Modal contenedor */
#pdfModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
    opacity: 0;
}

#pdfContent {
    position: relative;
    width: 95%;
    max-width: 1100px;
    height: 90%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

/* Botón de cierre */
#closeModal {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px; 
    font-weight: 700;
    color: #f1f1f1; 
    background: rgba(3, 3, 3, 0); 
    padding: 8px 12px; 
    cursor: pointer;
    z-index: 1001;
    transition: all 0.3s ease;
}

#closeModal:hover {
    color: #ebebeb; 
    background: rgba(0, 0, 0, 0.9);
    transform: scale(1.5);
}
#pdfContent iframe {
    width: 100%;
    height: 100%;
    border: none;
}