 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@829&display=swap');

 body {
     margin: 0;
     padding: 0;
     font-family: "Noto Sans KR", sans-serif;
     font-weight: 400;
     height: 100vh;
     background: url('https://w.wallhaven.cc/full/qr/wallhaven-qrrll5.jpg') no-repeat center center fixed;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: black;
 }

 .noto-kr-bold {
     font-family: "Noto Sans KR", sans-serif;
     font-optical-sizing: auto;
     font-weight: 829;
     font-style: normal;
 }

 h1 {
     font-size: 3rem;
     margin-bottom: 10px;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
 }

 p {
     font-size: 1.3rem;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
 }

 .container {
     padding: 40px;
     border-radius: 15px;
     max-width: 600px;
     transition: all 0.5s ease;
 }

 .container:hover {
     transform: scale(1.05);
     background: rgba(0, 0, 0, 0.2);
     color: red;
 }